<body background="http://images.huffingtonpost.com/2015-01-23-121121_BURKARD_101629.JPG">

<div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 col-md-offset-3 col-lg-offset-3 col-sm-offset-2 col-xs-offset-2" style="background-color: #f0f8ff; border-radius: 10px; opacity: 0.8">
	<h1 style="text-align: center">Welcome to WanderLust!</h1>
	<p style="text-align: center">Feeling adventurous? We will tell you where to go!</p>
</div>
</body>
